/node_modules

/storage/*.key
/vendor
codeception.yml
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/composer.lock
/package-lock.json
/phpmyadmin/

.idea

/robots.txt
/sitemap.xml

/.phpstorm.meta.php
/_ide_helper.php

/public/hot
/public/storage
/public/pets/
/public/css/front.css
/public/ckfinder/
/public/plugins/ckfinder/
/public/plugins/ckeditor/
/public/uploads/
/public/upload/
/public/vendor/telescope/
/public/yandex_2f0ae3085ec5ffe3.html
/public/robots.txt
/public/packages/chat/
/public/mix-manifest.json

/docker/mysql/db_data/

