/node_modules
/public/hot
/public/storage
/public/pets/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/ckfinder/
/public/plugins/ckfinder/
/public/plugins/ckeditor/

/package-lock.json
/webpack.mix.js
/phpmyadmin/

.idea
/public/uploads/
/robots.txt
/sitemap.xml
