# See
# - https://github.com/phpstan/phpstan-strict-rules
# - vendor/phpstan/phpstan-strict-rules/rules.neon
rules:
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
	- PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule

services:
	-
		class: PHPStan\Rules\BooleansInConditions\BooleanRuleHelper
