.search input[type="text"] {
    width: 100%;
    /*margin-bottom: 14px;*/
    border: 1px solid #eeeeee;
    padding: 5px 15px;
    font-style: italic;
    border-radius: 0;
    background: #fafafa;
}

.search-element-body {
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.search-element-body * {
    font-size: 14px;
}

[hidden] {
    display: none;
}

.post-content pre p {
    line-height: 0.9;
}

.post-detail-thumb {
    position: relative;
    display: grid;
    grid-template-rows: minmax(320px, auto);
}

.post-detail-thumb img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0 10px 0 10px;
    max-height: 400px;
}

.post-thumb {
    margin: 5px 5px 0 5px;
    display: grid;
    grid-template-columns: minmax(50px, 150px) 1fr;
}

.post-thumb img {
    object-fit: contain;
    max-height: 50px;
}

.post_image_block {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.post-thumb-overlay-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 150px;
}

@media (max-width: 600px) {
    .post_image_block {
        display: flex;
        justify-content: center;
    }
    .post-thumb {
        grid-template-columns: minmax(50px, 120px) 1fr;
    }
}

@media (max-width: 320px) {
    .post_image_block {
        display: none;
    }
    .post-thumb {
        grid-template-columns: none;
    }
}

.entry-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.entry-header h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    color: #212529;
    font-size: 1.3rem;
}

.entry-header a {
    color: #212529;
}

.entry-header {
    margin: 0;
}

.main-content {
    margin-top: 25px;
}

.alert {
    margin-bottom: 0;
}

.text-uppercase {
    text-transform: none;
}

.privacy-box {
    flex: 0 0 100%;
    display: flex;
    line-height: 1.1em;
    margin-bottom: 10px;
    align-items: center;
}

.privacy-box input {
    margin-left: 0;
    flex: 0 0 20px;
    width: 15px;
    height: 15px;
}

.form-control {
    border-radius: 6px;
}

.privacy-box span {
    margin-right: auto;
    padding-left: 5px;
    font-size: 12px;
    opacity: .7;
    margin-bottom: 0;
}

@font-face {
    font-display: swap;
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*Подсветка кода*/
pre {
    tab-size: 4;
    background: #000000;
    color: lightgreen;
    padding: 8px;
    white-space: pre-wrap;
    overflow-x: auto;
    font-family: "JetBrains Mono", "Lucida Console", serif;
    font-size: 12px;
}

pre[class*=language-] {
    font-size: 0.88em !important;
}

code {
    font-size: 0.88em !important;
}

/* likes system */
.fa-heart {
    transition: 1s; /* Время эффекта */
}

.like:hover .fa-heart {
    transform: scale(1.4);
}

.flow-main {
    z-index: 9999;
}

._fixed {
    position: sticky;
    top: 0;
    min-width: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px 0;
    z-index: 99999;
    background-color: rgb(244, 244, 244);
}

@media (min-width: 768px) {
    ._fixed {
        height: 45px;
    }
}

@media (max-width: 991px) {
    .lens-search {
        display: none;
    }
}

.logo-main {
    width: auto;
}
