#chat-box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow-y: auto;
    flex-direction: column;
    background-color: white;
    border-radius: 0.3em;
    /*width: 170px;*/
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.6s ease;
    z-index: 1; /* значение z-index больше, чем у большинства других элементов */
    position: relative;
}

#chat_input_container {
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
    border: rgb(255, 0, 0) 3px;
    border-radius: 0.3em;
    padding: 5px;
    background-color: lightgray;
}

label.chat_label {
    width: 85px;
}

.chat_input[type="text"] {
    max-width: 130px;
}

.chat_message_date {
    margin-bottom: 5px;
    font-size: 9px;
    color: darkgray;
}

.chat_username {
    font-weight: bold;
    line-height: 1.25rem;
    font-size: 10px;
}

@keyframes move-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#chat-message-list {
    font-family: Verdana, serif;
    font-size: 10px;
    padding: 7px;
}

.chat_message {
    animation: move-up 0.5s ease-out;
    animation-fill-mode: forwards;
    overflow-wrap: break-word;
}
